<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- https://www.shanelynn.ie/asynchronous-updates-to-a-webpage-with-flask-and-socket-io/ -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/vision-control.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


    <title>VisionControl</title>
  </head>
  <body>


    <div class="container-fluid">
      <div class="row">
        <div class = "top-bar">
          <h6><i class="fa fa-fw fa-circle-o-notch" style="margin-right:15px"></i>VISION CONTROL</h6>
        </div>
      </div>

      <div class = "row mainrow">
        <div class = "col-2"></div>
        <div class = "col-4 panelwrapper">
          <div class = "panel leftpanel">
            <div class="paneltitle">
              <i class="fa fa-video-camera" style = "margin-right:15px"></i>
              Camera feed
            </div>
            <div class="camerafeed">
              <video id="video" playsinline autoplay="true" style="display:none"></video>
              <canvas id="output" style="height:400px;width:400px;background-color:#eff3fa"/>
            </div>


            <div class="results-algorithm">

              <div class="content-actions">
                Score : <span id="output-score"></span>
              </div>

              <div class="content-actions">
                Nose score : <span id="noseposition"></span>
              </div>

              <div class="content-actions">
                Left Hand score : <span id="lefthandposition"></span>
              </div>


              <div class="content-actions">
                Right Hand score : <span id="righthandposition"></span>
              </div>

            </div>


          </div>
        </div>

        <div class = "col-3 panelwrapper">
          <div class = "panel leftpanel">
            <div class="paneltitle">
              <i class="fa fa-spotify" style = "margin-right:15px"></i>
              Spotify control
            </div>

          <div class="actions-container">

            <div class="action-block" id="spotify-play-button">
              <i class="fa fa-play icon-action"></i>
              Play
            </div>

            <div class="action-block" id="spotify-pause-button">
              <i class="fa fa-pause icon-action"></i>
              Pause
            </div>

            <div class="action-block">
              <i class="fa fa-step-forward icon-action"></i>
              Next track
            </div>

            <div class="action-block">
              <i class="fa fa-step-backward icon-action"></i>
              Previous track
            </div>

            <div class="form-input">
              <div class="form-group">
                <label for="spotify-token-input">Token Spotify</label>
                <input type="text" class="form-control" id="spotify-token-input" placeholder="Enter your Spotify token">
              </div>
            </div>

          </div>


          </div>
        </div>



    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/camera.js"></script>

    <script src="https://unpkg.com/@tensorflow/tfjs"></script>
    <!-- Load Posenet -->
    <script src="https://unpkg.com/@tensorflow-models/posenet">
    </script>
    <script type="text/javascript">

      var net;

      async function bindPage() {
        // Load the PoseNet model weights for version 1.01
        net = await posenet.load();

        let video;

        try {
          video = await loadVideo();
        } catch(e) {
          console.error(e);
          return;
        }

        detectPoseInRealTime(video, net);
      }



      bindPage();

    </script>


  </body>
</html>
